<header class="header">
  <div class="container header-container">
    <a href="/" class="logo">Jungwoo Rhee</a>
    <button class="mobile-menu-toggle">☰</button>
    <nav class="nav">
      <a href="/about.html" class="nav-item">About</a>
      <a href="/projects/" class="nav-item">Projects</a>
      <a href="/publications.html" class="nav-item">Publications</a>
      <a href="/news.html" class="nav-item">News</a>
      <a href="https://www.linkedin.com/in/jungwoo-rhee/" target="_blank" class="nav-item">LinkedIn→</a>
      <a href="https://drive.google.com/file/d/1zlNJpXmHn2nLQHQ9gaDenViqDu_dWzuQ/view?usp=sharing" target="_blank" class="nav-item">Resume↓</a>
    </nav>
  </div>
</header> 